examples/1-Read-Single-Register.json
[
    {
        "id": "ed5ad2dbecd14ed9",
        "type": "bp-reader",
        "z": "32d4f3da7ed0f7fd",
        "name": "Modbus Con",
        "showStatusActivities": true,
        "showErrors": true,
        "logIOActivities": false,
        "server": "0c19b1f39cce70c5",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "f0d8a9000b5c1321"
            ]
        ]
    },
    {
        "id": "1bfd7eb3827284c5",
        "type": "bp-device",
        "z": "32d4f3da7ed0f7fd",
        "bpUnitName": "ABB B23 B24",
        "bpModbusId": "6",
        "bpRegisters": [
            {
                "name": "VOLTAGE_L1_VOLTS",
                "address": "23296",
                "fnCode": "F3_HOLDING_REGS",
                "multiplier": "0.1",
                "format": "32BIT_UINT_1234",
                "uom": "VOLTAGE_V",
                "scale": "NONE",
                "size": "2"
            }
        ],
        "bpChkShowDateOnLabel": true,
        "bpChkShowDebugWarnings": true,
        "bpChkEnableTurboMode": false,
        "bpDeviceDataSize": 2,
        "bpSelectedTemplate": "DEVICE_ABB_2324",
        "bpSourceTemplatesFromWeb": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "ed5ad2dbecd14ed9"
            ]
        ]
    },
    {
        "id": "a68dc97623d73af9",
        "type": "inject",
        "z": "32d4f3da7ed0f7fd",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1bfd7eb3827284c5"
            ]
        ]
    },
    {
        "id": "a582616baa9999b5",
        "type": "bp-display",
        "z": "32d4f3da7ed0f7fd",
        "bpModbusDisplayName": "VOLTAGE_L1_VOLTS",
        "bpDeviceRegister": "23296",
        "bpChkShowDebugWarnings": true,
        "x": 1030,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d8a9000b5c1321",
        "type": "bp-decoder",
        "z": "32d4f3da7ed0f7fd",
        "bpDeviceDecoderName": "",
        "bpChkShowDateOnLabel": true,
        "bpChkShowDebugWarnings": true,
        "bpChkConvertPFactor": true,
        "bpChkSetRealTo3Dp": true,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "54b391a1db75b1db"
            ]
        ]
    },
    {
        "id": "953d6b7a0ae03e26",
        "type": "link in",
        "z": "32d4f3da7ed0f7fd",
        "name": "",
        "links": [
            "54b391a1db75b1db"
        ],
        "x": 845,
        "y": 100,
        "wires": [
            [
                "a582616baa9999b5"
            ]
        ]
    },
    {
        "id": "54b391a1db75b1db",
        "type": "link out",
        "z": "32d4f3da7ed0f7fd",
        "name": "",
        "mode": "link",
        "links": [
            "953d6b7a0ae03e26",
            "334ad999f644c423",
            "341537da535dae50",
            "b033ff94735d125d"
        ],
        "x": 765,
        "y": 100,
        "wires": []
    },
    {
        "id": "0c19b1f39cce70c5",
        "type": "bp-modbus-client",
        "name": "serial-test-connection",
        "clienttype": "serial",
        "bufferCommands": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    }
]